body{
	background: url(https://images.unsplash.com/photo-1499957430036-41954fa8391d?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=7de30510039a143d711e1b3248052603&auto=format&fit=crop&w=750&q=80);
	/*background: url(https://images.unsplash.com/photo-1441984904996-e0b6ba687e04?w=1050&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D);*/
    background-size : cover;
    background-position: center;
    font-family: lato;
    color: white;
}

#myModal	{
	color: black;
}

html{
	height: 100%;
}

#content{

	text-align: center;
	padding-top: 20%;
	text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
				0px 8px 13px rgba(0,0,0,0.1),
				0px 18px 23px rgba(0,0,0,0.1);
}

h1{
	font-weight: 700;
	font-size: 5em;
}

hr{
	width:600px;
	border-top: 1px solid #f8f8f8;
	border-bottom: 1px solid rgba(0,0,0,0.2);
}

tbody{

	/*color: #fff;*/
}

tr::selection {
    color: #fff;
}
